main>.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

#title {
    padding: 30px 0;

    h1 {
        margin: 0;
        padding: 0;
        font-size: 3rem;

        a {
            color: inherit;
            text-decoration: none;
        }
    }
}

@import "yii";

@media(max-width:767px) {
    .nav li>form>button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 8px 0;
    }
}

.nav>li>form>button.logout:focus,
.nav>li>form>button.logout:hover {
    text-decoration: none;
}

.nav>li>form>button.logout:focus {
    outline: none;
}